block title
  - var title = ''

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="format-detection" content="telephone=no")
  meta(name="description" content="Innovo Clinic")
  
  title= title
  
  mixin favicon(size, rel, href)
    link(
      rel=rel
      href=href + size + "x" + size + ".png"
      sizes=size + "x" + size
      type="image/png"
    )
  
  - var favAppleSizes = ['57', '60', '72', '76', '114', '120', '144', '152', '180'];
  - var favSizes = ['32', '96', '16'];
  
  each item in favAppleSizes
    +favicon(item, 'apple-touch-icon', '/apple-icon-')
    
  each item in favSizes
    +favicon(item, 'icon', '/favicon-')
  
  link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
  link(rel="manifest" href="/manifest.json")
    
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")
    
  link(rel="stylesheet" href="css/vendor.css")
  link(rel="stylesheet" href="css/main.css")
